<div>
  <app-image [url]="url" (onRevert)="revertImage()"></app-image>
  <h2> {{item.firstName}} </h2>
  <ul>
    <li appHighlight> {{item.firstName}} {{item.lastName}} </li>
    <li> {{item.id}} </li>
    <li appHighlight>
      <a [href]="'http://www.' + (item.email | domainOnly)" target="_blank">{{item.email | domainOnly}}</a>
    </li>
    <li>
      <span [ngSwitch]="item.gender">
        <span *ngSwitchCase="'Male'">
          MALE
        </span>
        <span *ngSwitchCase="'Female'">
          FEMALE
        </span>
        <span *ngSwitchDefault>
          INTERSEX
        </span>
      </span>
    </li>
  </ul>
  <button (click)="changeImage()">Change Image</button>
</div>